@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

/*
This is the global style reset.
To remove the default browser margins and padding, and to set the box-sizing property to border-box for all elements.
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html{
  font-family: "Roboto", sans-serif;
  background-color:white;
  height:100vh;
  overflow:hidden;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Parent layout design */
body{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Main content design */
main{
  flex:1;
  width: 100%;
  display: flex;
  /* background-color: #f1f5f9; */
  overflow: hidden;
  z-index: 1; 
  
}