@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

/*
This is the global style reset.
To remove the default browser margins and padding, and to set the box-sizing property to border-box for all elements.
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html{
  font-family: "Roboto", sans-serif;
  background-color:white;
  height:100vh;
  overflow:hidden;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Parent layout design */
body{
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Header Design */
header{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-shrink: 0;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

/* Main content design */
main{
  flex:1;
  width: 100%;
  display: flex;
  /* background-color: #f1f5f9; */
  overflow: hidden;
  z-index: 1; 
  
}

/* Overlay Container Design */
.overlay{
  background-color: #86828274;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}

/* Task Popup Modal Design */
.task-popup-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 8px;
  border-radius: 8px;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width:calc(100dvw - 60%);
  height: calc(100dvh - 35%);
  z-index: 20;
}

.task-popup-modal[hidden]{
    visibility: hidden;
    z-index: -100;
}
  
.input-task-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width:calc(100% - 30%);
}

.input-task-details h2{
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.task-input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-size: small;
  width: 100%;
}

.task-input-container input{
  width: 100%;
  height: 32px;
  border: 1px solid #bdb9b9;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 1.5;
}

.task-input-container input:hover{
  border-color: #2369ec;
  box-shadow: 0 0 5px rgba(35, 55, 236, 0.5);
}

.task-input-container input:focus{
  outline: none;
  border-color: #2369ec;
  box-shadow: 0 0 5px rgba(35, 55, 236, 0.5);
  padding: 4px 8px;
}

.task-input-container select{
  width: 100%;
  height: 32px;
  border: 1px solid #bdb9b9;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 1.5;
}

.task-input-container select:hover{
  border-color: #2369ec;
  box-shadow: 0 0 5px rgba(35, 55, 236, 0.5);
}

.task-input-container select:focus{
  outline: none;
  border-color: #2369ec;
  box-shadow: 0 0 5px rgba(35, 55, 236, 0.5);
  padding: 4px 8px;
}

.task-form-actions{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  gap:6px;
  width: 100%;
}

.btn-cancel, .btn-submit{
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color:#2369ec;
  color:white;
}

.btn-cancel:hover, .btn-submit:hover{
  background-color: #1e5bbf;
}

/* Sidebar Design */
.sec-1{
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  border-right: 1px solid #e5e7eb;
}

/* Sidebar Components */
.task-list{
  width: 100%;
  padding: 16px;
  background-color: #f1f5f9;
  border-radius: 8px;
  height: calc(100% - 50px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.add-new-task-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

#add-new-task-btn {
  width: 100%;
  height: 40px;
  background-color: rgb(35, 35, 236);
  text-align: center;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.task-list h3 {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #2337ec;
  padding: 4px 8px;
  cursor: pointer;
}
.todo-todos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.todo-task{
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  color: #000000; 
}

.todo-task-ring{
  width: 6px;
  height: 6px;
  background-color: #2337ec;
  border-radius: 24px;
  padding: 4px 4px;
}

/* Toast/Taoster Success Design */
.toast-success{
  position: absolute;
  bottom: 10%;
  right:10%;
  width:fit-content;
  height:fit-content;
  background-color: #f1f5f9;
  padding: 16px;
  border-top:4px solid greenyellow;
  color:green;
  z-index: 20;
  animation: slideInAndOut 4s ease-in-out forwards;
}

.toast-error{
  position: absolute;
  bottom: 10%;
  right:10%;
  width:fit-content;
  height:fit-content;
  background-color: #f1f5f9;
  padding: 16px;
  border-top:4px solid rgb(255, 47, 47);
  color:rgb(128, 0, 0);
  z-index: 20;
  animation: slideInAndOut 4s ease-in-out forwards;
}

@keyframes slideInAndOut {
  0%{
    transform: translateX(120%);
    opacity: 0;
  }
  8%{
    transform: translateX(0);
    opacity: 1;
  }
  92%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(120%);
    opacity: 0;
  }
}


/* Gantt Chart Container Styling */
.sec-2 {
  flex: 1;
  height: 100%;
  background-color: #ffffff;
  padding: 16px;
  overflow-x: auto;
  overflow-y: auto;
}

.main-gantt-area-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}

.s-date-e-date{
  width: 100%;
  height: 10px;
  display: flex;
}

.s-date-e-date-n{
   color: #1c1a1a;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 10px;
  margin-left: 20px;
}

.day-number{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.day-number-n{
   color: #959393;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: auto;
  text-align: center;
  border-right: 1px solid #e5e7eb;
}

/* Footer Design */
footer{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  height: 20px;
  margin-bottom: 0px;
  background: #000;
}
